.header{
    background-image: url(../img/banner.jpg);
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .header__texto{
        text-align: center;
        color: $blanco;
        margin-top: 2rem;
        padding-top: 2rem;

        @media(max-width: 768px){
            line-height: 1;
            p{
                display: none;
            }
        }
    }

    .barra{
        align-items: center;
        padding-top: 3rem;
        .logo{
            color: $blanco;

            .logo__nombre{
                font-weight: 400;
                
                .logo__bold{
                    font-weight: 700;
                }
            }
        }

        .navegacio__enlace{
            display: block;
            text-align: center;
            font-size: 1.3rem;
            color: $blanco;
            &:hover{
                background-color: $colorPrimario;
                padding: .5rem;
                transition: 1s;
            }
        }
    }

    @media(min-width: 768px){
        .barra{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .navegacion{
                display: flex;
                gap: 1rem;
            }
        }
    }
}


