.contenido-principal{

    .entrada{
        border-bottom: 1px solid $gris;
        margin-bottom: 2rem;

        
    }
    
    .entrada:last-of-type{
        border:none;
        margin-bottom: 0;
    }


    aside{
        font-size: 1.5rem;
        font-weight: bold;
        ul{
            list-style: none;

            .curso1{
                border-bottom: 1px solid $gris;
                margin-bottom: 2rem;
                &:last-of-type{
                    border: none;
                    margin-bottom: 0;
                }

                .curso1__label{
                    font-family: $fuenteHeading;
                    font-weight: bold;
                    font-size: 1.5rem;
                    .curso1__info{
                        font-weight: normal;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    @media(min-width: 768px){
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }

    .boton{
        display: block;
        font-family: $fuenteHeading;
        color: $blanco;
        text-align: center;
        padding: .7rem 2rem;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 2rem;

        @media(min-width: 768px){
            display: inline-block;
        }
    }

    .boton--primario{
        background-color: $negro;
    }
    .boton--secundario{
        background-color: $colorPrimario;
        font-size: 1.2rem;
        @media(max-width: 843px){
            font-size: 1rem;
        }
    }
}
