@import "generales";
@import "header";
@import "main";
@import "footer";
@import "nosotros";
@import "cursos";

.blog-entrada{
    padding: 0 3rem;
}

.contacto-bg{
    background-image: url(../img/contacto.jpg);
    height: 30rem;
    background-size: cover;
    background-repeat:  no-repeat;
    width: 80%;
    margin: 0 auto;
}

.boton{
    display: block;
    font-family: $fuenteHeading;
    color: $blanco;
    text-align: center;
    padding: .7rem 2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
    &:hover{
        cursor: pointer;
    }

    @media(min-width: 768px){
        display: inline-block;
    }
}

.boton--primario{
    background-color: $negro;
}

.formulario{
    background-color: $blanco;
    width: 75%;
    margin: -5rem auto 0 auto;
    padding: 1rem;

    .campo{
        display: flex;
        margin-bottom: 1rem;

        @media(max-width: 602px){
            flex-direction: column;
        }
         

        .campo__label{
            flex: 0 0 7rem;
            @media(max-width: 602px){
                flex: 0 0 3rem;
                text-align: center;
            }
        }

        .campo__field{
            flex: 1;
        }

        .campo__field--textarea{
            height: 20rem;
        }
    }
}
